.section-containers {
    border: solid thin black;
}

.header h1 {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    float: right;
    margin-right: 100px;
    margin-top: 32px;
}

.section-headers {
    text-align: center;
}

.section-subheaders {
    text-align: center;
    text-decoration: underline;
}

.section-text {
    line-height: 25px;
}

/* section one (1) */
.section-one {
    height: 800px;
    width: 20%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

/* section two (2) */
.section-two {
    height: 800px;
    width: 15%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    background-color: lightgrey;
}

    .section-two .section-text {
        margin-top: 59px;
        text-align: center;
    }

/* section three (3) */
.section-three {
    height: 800px;
    width: 15%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    /* hidden scrollbars for IE and Edge */
    -ms-overflow-style: none; 
}

    /* hidden scrollbars for Chrome, Safari and Opera */
    .section-three::-webkit-scrollbar {
        display: none;
    }

    .each-task {
        border: solid thin black;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
    }

    .each-task h4 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .each-task a {
        margin-right: 7px;
    }

    .section-three button {
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        margin-left: 75px;
    }

/* Section Four (4) */
.section-four {
    height: 800px;
    width: 41.5%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.task-top {
    margin: 0px 35px;
}

    .task-top .task-name-input {
        font: bold;
        font-size: large;
        display: block;
        margin: 20px 0;
        border: none;
        text-align: left;
        padding: 5px;
    }

    .task-top #start-time-input {
        width: 125px;
    }

    .task-top #end-time {
        margin-left: 44px;
    }

    .task-top #end-time-input {
        width: 130px;
    }

    .task-top #location {
        margin-left: 38px;
    }

    .task-top #location-input {
        padding: 1.5px;
        width: 110px;
    }

    .task-top #category {
        width: 100px;
    }

.task-bottom {
    display: inline-block;
    margin: 0 15px;
}

    .task-bottom h4 {
        text-align: center;
    }

    .contacts-div {
        margin-left: 33px;
    }

    .task-bottom textarea {
        border-radius: 10px;
        resize: none;
        padding: 5px;
        width: 172px;
    }

    .new-task-form button {
        font-size: 20px;
        padding: 15px 150px;
        border: thin solid black;
        border-radius: 10px;
        margin-left: 148.5px;
        margin-top: 50px;
    }