.header h1 {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    float: right;
    margin-right: 100px;
    margin-top: 32px;
}

.section-one {
    border: thin dotted red;
    height: 800px;
    width: 20%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.section-two {
    border: thin dotted red;
    height: 800px;
    width: 15%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.section-three {
    border: thin dotted red;
    height: 800px;
    width: 15%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

    .section-three button {
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        margin-left: 75px;
    }

.section-four {
    border: thin dotted red;
    height: 800px;
    width: 41%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.section-headers {
    text-align: center;
}

#section-four-header {
    text-align: left;
}

.section-subheaders {
    text-align: center;
    text-decoration: underline;
}

.section-text {
    line-height: 25px;
}

.section-two .section-text {
    margin-top: 59px;
    text-align: center;
}

.task-details-div {
    display: inline-block;
    margin: 10px 15px;
}

    .contacts-div {
        margin-left: 33px;
    }

    .task-details-div textarea {
        border-radius: 10px;
        resize: none;
    }

    .new-task-form button {
        font-size: 20px;
        padding: 15px 150px;
        border: thin solid black;
        border-radius: 10px;
        margin-left: 148.5px;
        margin-top: 40px;
    }

.task-details-div h4 {
    text-align: center;
}