<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/schedule.css">
    <title>Schedule</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome !</h1>

            <!-- logout button here -->
            <a href="/logout">Logout</a>
        </div>
        <hr>

        <!-- all design and functionality is below -->
        <!-- section 1 -->
        <div class="section-one">
            <h2 class="section-headers">Welcome to Scheduler!</h2>

            <!-- section text below -->
            <h3 class="section-subheaders"><i>Overview:</i></h3>

            <p class="section-text">Every day presents a new set of responsibilities to tackle and sometimes they can get overwhelming. <strong>Scheduler</strong> is here to keep track of today's most important tasks. <br>
            
            <br>Weren't able to complete a task on your list? That's okay, we're keeping track of those too! That way, important tasks never get cooked on the back-burner too long.</p><br>

            <h3 class="section-subheaders"><i>Overflow Tray</i></h3>

            <p class="section-text">Didn't complete a task? Don't worry, just add it to your <em>Overvlow Tray.</em> We'll keep it there until you complete it.</p><br>

            <h3 class="section-subheaders"><i>All Tasks</i></h3>

            <p class="section-text">When you create a new task it will automatically show up in <em>All Tasks.</em> From there, you can <i>complete</i> it, move it to your <em>Overflow Tray</em>, or show all of its <i>details.</i></p>
        </div>

        <!-- section 2 -->
        <div class="section-two">
            <h2 class="section-headers">Overflow Tray</h2>

            <p class="section-text">Any tasks added to your <em>Overflow Tray</em> will show up here. <br>
            
            <br> Simply click the <u>overflow</u> button shown in the bottom-right corner of the button.</p><br>
        </div>

        <!-- section 3 -->
        <div class="section-three">
            <h2 class="section-headers">All Tasks</h2>

            <a href=""><button>New Task</button></a>
        </div>

        <!-- section 4 -->
        <div class="section-four">
            <h2 class="section-headers" id="section-four-header">New Task</h2>

            <div class="new-task-form">
                <form action="" method="">
                    

                    <label for="start_time" id="start_time_id">Start:</label>
                    <input type="time" id="start_time_input" name="start_time">

                    <label for="end_time" id="end_time_id">End:</label>
                    <input type="time" id="end_time_input" name="end_time">

                    <label for="location" id="location">Location:</label>
                    <input type="text" id="location" name="location">
                    <br><br><br>

                    <label for="category" id="category">Category:</label>
                    <select name="" id="">
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Personal">Personal</option>
                    </select>
                    <br><br>

                    <!-- task details / Contact input section -->
                    <div class="task-details-div contacts-div">
                        <h4>Add Contacts</h4>

                        <textarea name="contacts" id="contacts-div" cols="32" rows="30"></textarea>
                    </div>

                    <div class="task-details-div">
                        <h4>Add Notes</h4>

                        <textarea name="note" id="note" cols="32" rows="30"></textarea>
                    </div>

                    <div class="task-details-div">
                        <h4>Add a Checklist</h4>

                        <textarea name="checklist" id="checklist" cols="32" rows="30"></textarea>
                    </div>
                    <br>

                    <button>Add Task</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>