<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/schedule.css">
    <title>Schedule</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome, {{ session['users_fname'] }}!</h1>

            <!-- logout button here -->
            <a href="/logout">Logout</a>
        </div>
        <hr>

        <!-- all design and functionality is below -->
        <!-- section 1 -->
        <div class="section-one section-containers">
            <h2 class="section-headers">Welcome to Scheduler!</h2>

            <!-- section text below -->
            <h3 class="section-subheaders"><i>Overview:</i></h3>

            <p class="section-text">Every day presents a new set of responsibilities to tackle and sometimes they can get overwhelming. <strong>Scheduler</strong> is here to keep track of today's most important tasks. <br>
            
            <br>Weren't able to complete a task on your list? That's okay, we're keeping track of those too! That way, important tasks never get cooked on the back-burner too long.</p><br>

            <h3 class="section-subheaders"><i>Overflow Tray</i></h3>

            <p class="section-text">Didn't complete a task? Don't worry, just add it to your <em>Overvlow Tray.</em> We'll keep it there until you complete it.</p><br>

            <h3 class="section-subheaders"><i>All Tasks</i></h3>

            <p class="section-text">When you create a new task it will automatically show up in <em>All Tasks.</em> From there, you can <i>complete</i> it, move it to your <em>Overflow Tray</em>, or show all of its <i>details.</i></p>
        </div>

        <!-- section 2 -->
        <div class="section-two section-containers">
            <h2 class="section-headers">Overflow Tray</h2>

            <p class="section-text">Any tasks added to your <em>Overflow Tray</em> will show up here. <br>
            
            <br> Simply click the <u>overflow</u> button shown in the bottom-right corner of the button.</p><br>

            {% for each_task in users_overflow_tasks %}
            <div class="each-task">
                <h4>{{ each_task["task_name"] }}</h4>

                <!-- task functionality links -->
                <a href="/schedule/completed/{{each_task['id']}}">Completed</a>
                <a href="/task_details/{{each_task['id']}}">Details</a>
            </div>
            {% endfor %}
        </div>

        <!-- section 3 -->
        <div class="section-three section-containers">
            <h2 class="section-headers">All Tasks</h2>

            <a href="/schedule"><button>New Task</button></a>

            {% for each_task in users_tasks %}
            <div class="each-task">
                <h4>{{ each_task["task_name"] }}</h4>

                <!-- task functionality links -->
                <a href="/schedule/completed/{{each_task['id']}}">Completed</a>
                <a href="">Overflow</a>
                <a href="/task_details/{{each_task['id']}}">Details</a>
            </div>
            {% endfor %}
        </div>

        <!-- section 4 -->
        <div class="section-four section-containers">
            <div class="new-task-form">
                <form action="/task_details/update" method="POST">
                    <div class="task-top">
                        <input class="section-headers task-name-input" type="text" name="task_name" placeholder="Task Name" value="{{ this_task['task_name'] }}" autofocus>

                        <label for="start_time" id="start-time">Start:</label>
                        <input type="time" id="start-time-input" name="start_time" value="{{this_task['start_time']}}">

                        <label for="end_time" id="end-time">End:</label>
                        <input type="time" id="end-time-input" name="end_time" value="{{this_task['end_time']}}">

                        <label for="location" id="location">Location:</label>
                        <input type="text" id="location-input" name="location" value="{{ this_task['location'] }}">
                        <br><br><br>

                        <label for="category" id="category">Category:</label>
                        <select name="category" id="category">
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Personal">Personal</option>
                        </select>
                    </div>
                    <br><br>

                    <!-- task details / Contact input section -->
                    <div class="task-bottom contacts-div">
                        <h4>Add Contacts</h4>

                        <textarea name="contact" id="contacts-div" cols="32" rows="30">{{ this_task['contact'] }}</textarea>
                    </div>

                    <div class="task-bottom">
                        <h4>Add Notes</h4>

                        <textarea name="note" id="note" cols="32" rows="30">{{ this_task['note'] }}</textarea>
                    </div>

                    <div class="task-bottom">
                        <h4>Add List Items</h4>

                        <textarea name="checklist" id="checklist" cols="32" rows="30">{{ this_task['checklist'] }}</textarea>
                    </div>
                    <br>

                    <button>Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>